/* General */
body {
    background-color: #083B4C;
}

h1 {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 2.2rem;
}

li {
    list-style-type: none;
    flex-basis: calc((100% / 7) - (10px * 6 / 7));
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

/* List */

.list {
    gap: 10px;
    padding-left: 0;
}

.standard {
    background-color: #1389B2;
}

.fizz {
    background-color: #0BD6A1;
}

.buzz {
    background-color: #FFD166;
}

.fizz-buzz {
    background-color: #F0466F;
}